

#projects {
    background-color:rgb(240,240,240);
    height: 500px;
    width: 100%;
    margin-top: 200px;
}
#desktop-view {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.prev-btn,
.next-btn {
    /* background-color: cornflowerblue; */
    width: 5%;
    padding-top: 200px;
    font-size: 100px;
    color: rgb(199, 202, 204);
}
.slides-container {
    width: 90%;
    height: 450px;
    overflow: hidden;
    margin:  10px 0 15px 0;
    

}
.card-group {
    width: 100%;
    height: 90%;
}
.card {
    height: 450px;
    width: 300px;
    margin: 20px;
    margin-top: 0px;
    border-radius: 10px;
   
}
.card:hover {
    transform: scale(1.02);
    transition-duration: 200ms;
}
.card-img-top {
    height: 230px;
    width: auto;
    background-color:rgb(234,245,254);
}
/* Card body */
.card-body {
    display: inline-block;
    height: 150px;
    padding: 10px;
}


/* Card footer */
.card-footer {
    display: flex;
    flex-direction: row;
    height: 50px;
    margin: 0;
    padding: 0;
}
.card-footer a {
    width: 50%;
    text-decoration: none;
    margin: 0px;
    padding: 0px;
}
.card-footer i {
    margin-top: 0px;
    padding-top: 0px;
    color: #000;
}
.fa-link, 
.live:hover {
    text-decoration: underline;
    transform: scale(1.01);
}
.fa-github, 
.code:hover {
    text-decoration: underline;
    transform: scale(1.01);
}

/* Navigation Dots */
.navigation-dots{
     display: flex;
     height: 16px;
     
     align-items: center;
     justify-content: center;
   }
.single-dot {
    background: #333;
    height: 16px;
    width: 16px;
    border: 2px solid #000;
    border-radius: 50%;
    margin: 0 8px;
    cursor: pointer;
    transition: 400ms;

}
.single-dot.active{
    background: #eee;
}

@media screen and (max-width: 1000px) {
    #desktop-view {
        display: none !important;
    }
}
