body {
    margin: 0;
    box-sizing: border-box;
}

#projects {
    background-color:rgb(240,240,240);
    height: 500px;
    width: 100%;
    margin-top: 200px;
}
#desktop-view {
   width: 100%;
   overflow: hidden;
   display: flex;
   flex-direction: row;
   flex-wrap: nowrap;
}
#desktop-view .slides-container {
    position: relative;
    width: 100%;
    height: 450px;
    margin:  10px 0 15px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    transition: 900ms cubic-bezier(0.48, 0.15, 0.18, 1);

}
#desktop-view .card-group {
    position: absolute;
    width: 100%;
    min-width: 1000px;
    height: 90%;
}
#desktop-view .card {
    height: 450px ;
    width: 300px;
    margin: 20px;
    margin-top: 0px;
    border-radius: 10px;
    

   
}
#desktop-view .card:hover {
    transform: scale(1.02);
    transition-duration: 200ms;
}
.card-img-top {
    height: 230px;
    width: auto;
    background-color:rgb(234,245,254);
}
/* Card body */
.card-body {
    display: inline-block;
    height: 150px;
    padding: 10px;
}


/* Card footer */
.card-footer {
    display: flex;
    flex-direction: row;
    height: 50px;
    margin: 0;
    padding: 0;
}
.card-footer a {
    width: 50%;
    text-decoration: none;
    margin: 0px;
    padding: 0px;
}
.card-footer i {
    margin-top: 0px;
    padding-top: 0px;
    color: #000;
}
.fa-link:hover,
.live:hover {
    text-decoration: underline;
    transform: scale(1.01);
}

/* Navigation Dots */
.navigation-arrows{
     display: flex;
     height: 20px;     
     align-items: center;
     justify-content: center;
   }
.arrow {
   
    height: 30px;
    width: 30px;
    margin: 0 8px;
    cursor: pointer;
    transition: 400ms;
    font-size: 20px;

}




@media screen and (max-width: 1200px) {
    #desktop-view {
        display: none !important;
    }
    #mobile-view {
        display: flex;
    }
}


@media screen and (min-width: 1200px) {
    #mobile-view {
        display: none !important; 
    }
}

